#rewind {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
}

#forward {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
}

#time-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2em;
}

button {
  background-color: transparent;
  text-shadow: 0 0 0.5em black;
  color: white;
  border: none;
  font-size: 3em;
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

button:hover {
  scale: 1.1;
  transition: 0.2s ease all;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;

  p {
    font-size: 2em;
  }

  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
